.App {
  text-align: center;
}

html {
  background-color: #282c34;
}

.calculator {
  height: 50px;
  margin-top: 100px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  background-color: black
}

.calculator-2 {
  margin-top: -3px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(124, 124, 124);
  display: flex;
  justify-content: space-between;
}

.clear-button {
  height: 50px;
  width: 90px;
  flex: 1;
  background-color: lightgray;
}

.plus-neg {
  height: 50px;
  width: 90px;
  flex: 1;
  background-color: lightgray;
}

.percentage {
  height: 50px;
  width: 90px;
  flex: 1;
  background-color: lightgray;
}

.division {
  height: 50px;
  width: 90px;
  flex: 1;
}

.number {
  font-size: 40px;
  text-align: right;
  margin-right: 5px;
  color: rgb(255, 255, 255);
}

.numbers {
  height: 50px;
  width: 90px;
  flex: 1;
  background-color: rgb(128, 127, 127);
}

.right-side {
  height: 50px;
  width: 90px;
  flex: 1;
  background-color: orange;
}

.calculator-3 {
  margin-top: -3px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(124, 124, 124);
  display: flex;
  justify-content: space-between;
}

.calculator-4 {
  margin-top: -3px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(124, 124, 124);
  display: flex;
  justify-content: space-between;
}

.calculator-5 {
  margin-top: -3px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(124, 124, 124);
  display: flex;
  justify-content: space-between;
}

.calculator-6 {
  margin-top: -3px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(124, 124, 124);
  display: flex;
  justify-content: space-between;
}

.zero {
  height: 50px;
  width: 90px;
  flex: 2.23;
  background-color: rgb(128, 127, 127);
}

.decimal {
  height: 50px;
  width: 90px;
  flex: 1;
}

.equal {
  height: 50px;
  width: 90px;
  flex: 1;
}

.symbol {
  font-size: 25px;
}

.decimals {
  height: 50px;
  width: 90px;
  flex: 1;
  background-color: rgb(128, 127, 127);
  font-size: 25px;
}